<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrado de la Película</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
    <h1>Estas seguro de querer borrar esta actriz o actor: <%= actor.first_name %> <%= actor.last_name %>???</h1>
    <p>
        <form action="/actors/delete/<%= actor.id %>?_method=DELETE" method="POST">
            <br>
            <p> <button class="botonBorrar" type="submit">Borrar la Actriz o Actor</button>
            
            <a  class="botonVolver" href="/actors">Listado de Actores</a></p>

        </form>
    </p>
    
</body>

</html>